/build
app/release
app/build
local.properties
.idea/
.gradle/
*.iml

/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat

*.jks
*.keystore

google-services.json

.env

*.cly

*.hprof
*.snapshot
captures/

.DS_Store
Thumbs.db